{% extends "manudux/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Login" %}{% endblock %}

{% block content %}
<div class="container">
    <h2>{% trans "Login" %}</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_div }}

        <button type="submit">{% trans "Login" %}</button>
    </form>
    {% if ALLOW_REGISTRATION %}
    <p>{% trans "Don't have an account? Create one" %} <a href="{% url 'manudux:register' %}">{% trans "here" %}</a>.</p>
    {% endif %}
    <p><a href="{% url 'accounts:password_reset' %}">{% trans "Lost password?" %}</a></p>
</div>
{% endblock %}