{% extends "manudux/base.html" %}
{% load i18n %}
{% load static %}

{% block content %}
<div class="container">
    <section>
        <div class="form-card">
            <form action="{% url 'manudux:create-appliance' %}{% if location %}?location_id={{ location.id }}{% endif %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}

                {{ form.as_div }}
                <button class="btn btn-primary">{% trans "Create" %}</button>
            </form>
        </div>
    </section>
</div>
{% endblock %}
