{% load i18n %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta name="apple-mobile-web-app-title" content="Manudux">
    <link rel="apple-touch-icon" href="/icons/icon-192.png">


    <title>{% block title %}Manudux{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'manudux/css/style.css' %}">
</head>

<body>

    {% block navbar %}
    {% include "manudux/navbar.html" %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block footer %}
    {% include "manudux/footer.html" %}
    {% endblock %}

</body>

</html>