{% extends "manudux/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Delete" %} - {{ step.title }}{% endblock %}

{% block content %}
<div class="container">
    <h1>{% trans "Delete Step" %}</h1>

    <p>{% blocktrans %}Are you sure you want to delete "{{ step }}"? This cannot be undone.{% endblocktrans %}</p>

    <form action="{% url 'manudux:delete-guide-step' step.id %}" method="post">
        {% csrf_token %}
        <input type="submit" value="{% trans 'Delete' %}" class="btn btn-danger">
    </form>

    <a href="{% url 'manudux:guide' pk=step.guide_id %}" class="btn">{% trans "Cancel" %}</a>
</div>
{% endblock %}
