{% extends "manudux/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Delete" %} - {{ guide_file.name }}{% endblock %}

{% block content %}
<div class="container">
    <h1>{% trans "Delete File" %}</h1>

    <p>{% blocktrans %}Are you sure you want to delete "{{ guide_file }}"? This cannot be undone.{% endblocktrans %}</p>

    <form action="{% url 'manudux:delete-guide-file' guide_file.id %}" method="post">
        {% csrf_token %}
        <input type="submit" value="{% trans 'Delete' %}" class="btn btn-danger">
    </form>

    <a href="{% url 'manudux:guide' pk=guide_file.guide_id %}" class="btn">{% trans "Cancel" %}</a>
</div>
{% endblock %}
