{% extends "manudux/base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <h1 class="title">Manudux</h1>

    <div class="page-hero bg-dark-green text-color-white">
        <h2>What have we been working on?</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis dolorem magnam hic, ex atque necessitatibus accusamus voluptate error, cum, perspiciatis sunt omnis harum ducimus et ut. Eos odit vero
            voluptatum.</p>
    </div>
</div>

<div class="container">
    <div class="list-group">
        <div class="group-title">
            <h2>Features</h2>
        </div>
        <div class="feature-list">
            <p class="title">Security</p>
            <ul>
                <li><input type="checkbox" checked disabled>Authentication</li>
            </ul>
        </div>

        <div class="feature-list">
            <p class="title">UI/UX</p>
            <ul>
                <li><input type="checkbox" checked disabled>Navbar for Desktop/Mobile</li>
            </ul>
        </div>

        <div class="feature-list">
            <p class="title">UI/UX</p>
            <ul>
                <li><input type="checkbox" checked disabled>Navbar for Desktop/Mobile</li>
            </ul>
        </div>
        <div class="feature-list">
            <p class="title">UI/UX</p>
            <ul>
                <li><input type="checkbox" checked disabled>Navbar for Desktop/Mobile</li>
            </ul>
        </div>
        <div class="feature-list">
            <p class="title">UI/UX</p>
            <ul>
                <li><input type="checkbox" checked disabled>Navbar for Desktop/Mobile</li>
            </ul>
        </div>

        <div class="feature-list">
            <p class="title">Models</p>
            <ul>
                <li><input type="checkbox" checked disabled>Guides</li>
                <li><input type="checkbox" checked disabled>Properties</li>
                <li><input type="checkbox" checked disabled>Locations</li>
            </ul>
        </div>
    </div>

    <div class="list-group">
        <div class="group-title">
            <h2>Work In Progress</h2>
        </div>
        <div class="feature-list">
            <p class="title">Plans</p>
            <ul>
                <li><input type="checkbox" disabled>OAuth/LDAP/SSO</li>
            </ul>
        </div>

        <div class="feature-list">
            <p class="title">Work In Progress</p>
            <ul>
                <li><input type="checkbox" checked disabled> Fast performance</li>
                <li><input type="checkbox" checked disabled> Secure by default</li>
                <li><input type="checkbox" disabled> Dark mode</li>
                <li><input type="checkbox" checked disabled> Easy to use</li>
            </ul>
        </div>

        <div class="feature-list">
            <p class="title">Features</p>
            <ul>
                <li><input type="checkbox" checked disabled> Fast performance</li>
                <li><input type="checkbox" checked disabled> Secure by default</li>
                <li><input type="checkbox" disabled> Dark mode</li>
                <li><input type="checkbox" checked disabled> Easy to use</li>
            </ul>
        </div>
    </div>

    <div class="list-group">
        <div class="group-title">
            <h2>Future plans</h2>
        </div>
        <div class="feature-list">
            <p class="title">Plans</p>
            <ul>
                <li><input type="checkbox" disabled>OAuth/LDAP/SSO</li>
            </ul>
        </div>

        <div class="feature-list">
            <p class="title">Work In Progress</p>
            <ul>
                <li><input type="checkbox" checked disabled> Fast performance</li>
                <li><input type="checkbox" checked disabled> Secure by default</li>
                <li><input type="checkbox" disabled> Dark mode</li>
                <li><input type="checkbox" checked disabled> Easy to use</li>
            </ul>
        </div>

        <div class="feature-list">
            <p class="title">Features</p>
            <ul>
                <li><input type="checkbox" checked disabled> Fast performance</li>
                <li><input type="checkbox" checked disabled> Secure by default</li>
                <li><input type="checkbox" disabled> Dark mode</li>
                <li><input type="checkbox" checked disabled> Easy to use</li>
            </ul>
        </div>
    </div>

</div>

{% endblock %}