{% extends "manudux/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Location" %} - {{ location.property.name }} {{ location.name }}{% endblock %}

{% block content %}
<div class="container">
    <h1>{% trans "Location" %}</h1>

    {% if not location.image %}
    <img src="{% static 'manudux/img/placeholder300x200.png'%}" alt="placeholder image">
    {% else %}
    <img src="{{ location.image.url }}" alt="{{location.name}}" height="200">
    {% endif %}
    <h2>{{location.name}}</h2>
    <p>{{ location.description }}</p>

    <div class="locations">
        <h2>{% trans "Guides" %}:</h2>
        {% if location.guide %}

        <ul>
            <li>
                <p><a href="{% url 'manudux:guide' pk=location.guide.pk %}">{{ location.guide }}</a></p>
            </li>
        </ul>
        {% else %}
        <p>{% trans "There are no guides at the moment." %}</p>
        {% endif %}

    </div>


    <form action="{% url 'manudux:delete-location' pk=location.id %}" method="post">
        {% csrf_token %}
        <input type="submit" value="{% trans 'Delete' %}" class="btn btn-danger" style="background-color: red; cursor: pointer;">
    </form>


    <p>{% trans "View property" %}: <a href="{% url 'manudux:property' location.property.id %}">{{ location.property }}</a></p>

</div>

{% endblock %}