{% extends "manudux/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Location" %} - {{ location.property.name }} {{ location.name }}{% endblock %}

{% block content %}
<div class="container">
    <div class="detail-card">
        <div class="detail-card-header">
            <div class="img-skeleton">
                {% if not location.image %}
                <img src="{% static 'manudux/img/placeholder300x200.png'%}" alt="{% trans 'Placeholder image' %}">
                {% else %}
                <img src="{{ location.image.url }}" alt="{{ location.name }}">
                {% endif %}
            </div>

            <div>
                <h1>{{ location.name }}</h1>
                {% if location.location_type %}
                <p class="detail-card-subtitle">{{ location.location_type }}</p>
                {% endif %}
            </div>
        </div>

        <div class="card-actions">
            <a href="{% url 'manudux:edit-location' pk=location.id %}" class="btn btn-primary">{% trans "Edit" %}</a>
            <a href="{% url 'manudux:delete-location' pk=location.id %}" class="btn btn-danger">{% trans "Delete" %}</a>
        </div>

        <div class="detail-grid">
            <p>{% trans "Property" %}: <a href="{% url 'manudux:property' location.property.id %}">{{ location.property }}</a></p>
        </div>

        {% if location.description %}
        <div class="detail-card-description">{{ location.description|linebreaksbr }}</div>
        {% else %}
        <p>{% trans "No description available." %}</p>
        {% endif %}
    </div>

    <section class="page-section">
        <h2>{% trans "Guides" %}</h2>
        {% if location.guide %}
        <div class="entity-list">
            <a class="entity-list-item" href="{% url 'manudux:guide' pk=location.guide.pk %}">
                <span class="entity-list-title">{{ location.guide }}</span>
            </a>
        </div>
        {% else %}
        <p>{% trans "There are no guides at the moment." %}</p>
        {% endif %}
    </section>

    <section class="page-section">
        <h2>{% trans "Appliances" %}</h2>
        <a href="{% url 'manudux:create-appliance' %}?location_id={{ location.id }}" class="btn btn-primary">{% trans "Add an appliance" %}</a>

        <div class="entity-list">
            {% for appliance in appliances %}
            <a class="entity-list-item" href="{% url 'manudux:appliance' pk=appliance.id %}">
                <span class="entity-list-title">{{ appliance.name }}</span>
            </a>
            {% empty %}
            <p>{% trans "No appliances at this location yet." %}</p>
            {% endfor %}
        </div>
    </section>
</div>

{% endblock %}
