{% extends "manudux/base.html" %}
{% load i18n %}
{% load static %}

{% block content %}

<div class="container">
    <div class="container-title">
        <h1>{% trans "Locations" %}</h1>
    </div>
    <div class="create-button">
        <a href="{% url 'manudux:create-location' %}">{% trans "Create a new location" %}</a>
    </div>
    <div class="locations">
        {% if locations %}
        {% for location in locations %}
        <p>{{location.name}} <a href="{% url 'manudux:location' location.id %}">{% trans "View" %}</a></p>
        {% endfor %}
        {% else %}
        <p>{% trans "No locations available" %}</p>
        {% endif %}
    </div>
</div>

{% endblock content %}