{% extends "manudux/base.html" %}
{% load i18n %}
{% load static %}

{% block content %}

<div class="container">
    <h1 class="title">{% trans "Locations" %}</h1>

    <a href="{% url 'manudux:create-location' %}" class="btn btn-primary">{% trans "Create a new location" %}</a>

    <div class="entity-list">
        {% for location in locations %}
        <a class="entity-list-item" href="{% url 'manudux:location' location.id %}">
            <span class="entity-list-title">{{ location.name }}</span>
            <span class="entity-list-meta">
                {{ location.property }}
                {% if location.location_type %} - {{ location.location_type }}{% endif %}
            </span>
        </a>
        {% empty %}
        <p>{% trans "No locations available" %}</p>
        {% endfor %}
    </div>

    {% include "manudux/_pagination.html" %}
</div>

{% endblock content %}
