{% extends "manudux/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Delete" %} - {{ location_type.name }}{% endblock %}

{% block content %}
<div class="container">
    <h1>{% trans "Delete Location Type" %}</h1>

    <p>{% blocktrans %}Are you sure you want to delete "{{ location_type }}"? This cannot be undone. Any locations using this type will keep their other data but lose this type.{% endblocktrans %}</p>

    <form action="{% url 'manudux:delete-location-type' location_type.id %}" method="post">
        {% csrf_token %}
        <input type="submit" value="{% trans 'Delete' %}" class="btn btn-danger">
    </form>

    <a href="{% url 'manudux:location-types' %}" class="btn">{% trans "Cancel" %}</a>
</div>
{% endblock %}
