{% extends "manudux/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Delete" %} - {{ property.name }}{% endblock %}

{% block content %}
<div class="container">
    <h1>{% trans "Delete Property" %}</h1>

    <p>{% blocktrans %}Are you sure you want to delete "{{ property }}"? This cannot be undone.{% endblocktrans %}</p>

    <form action="{% url 'manudux:delete-property' property.id %}" method="post">
        {% csrf_token %}
        <input type="submit" value="{% trans 'Delete' %}" class="btn btn-danger" style="background-color: red; cursor: pointer;">
    </form>

    <a href="{% url 'manudux:property' pk=property.id %}" class="btn">{% trans "Cancel" %}</a>
</div>
{% endblock %}
