{% extends "manudux/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Properties" %}{% endblock %}

{% block content %}
<div class="container">
    <h1 class="title">{% trans "Properties" %}</h1>

    <a href="{% url 'manudux:create-property' %}" class="btn btn-primary">{% trans "Create a new property" %}</a>
</div>

<hr>

<div class="container-grid">
    {% for property in properties %}
    {% include "manudux/property-card.html" %}
    {% empty %}
    <p>{% trans "No properties yet." %}</p>
    {% endfor %}
</div>

{% include "manudux/_pagination.html" %}

{% endblock %}