{% extends "manudux/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Properties" %}{% endblock %}

{% block content %}
<div class="container">
    <h1>{% trans "Properties" %}</h1>

    <a href="{% url 'manudux:create-property' %}">{% trans "Create a new property" %}</a>

</div>
<div class="grid-container">
    {% for property in properties %}
    {% if property.activated %}
    {% include "manudux/property-card.html" %}
    {% endif %}
    {% endfor %}
</div>

{% endblock %}