{% extends "manudux/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Delete" %} - {{ document.name }}{% endblock %}

{% block content %}
<div class="container">
    <h1>{% trans "Delete Document" %}</h1>

    <p>{% blocktrans %}Are you sure you want to delete "{{ document }}"? This cannot be undone.{% endblocktrans %}</p>

    <form action="{% url 'manudux:delete-property-document' document.id %}" method="post">
        {% csrf_token %}
        <input type="submit" value="{% trans 'Delete' %}" class="btn btn-danger">
    </form>

    <a href="{% url 'manudux:property' pk=document.property.id %}" class="btn">{% trans "Cancel" %}</a>
</div>
{% endblock %}
